<div class="mainpage">
  <h1>AACIMP 2011 Demo</h1>
  <p>Example for “Version Control Systems” and “Introduction to Clouds” courses :)</p>
  
  <div class="twitter">

    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
    new TWTR.Widget({
      version: 2,
      type: 'search',
      search: '#aacimp',
      interval: 6000,
      title: '',
      subject: '',
      width: 'auto',
      height: 300,
      theme: {
        shell: {
          background: 'transparent',
          color: '#787878'
        },
        tweets: {
          background: '#ffffff',
          color: '#444444',
          links: '#0072a3'
        }
      },
      features: {
        scrollbar: false,
        loop: true,
        live: true,
        hashtags: true,
        timestamp: true,
        avatars: true,
        toptweets: true,
        behavior: 'default'
      }
    }).render().start();
    </script>
  </div>
  
  
</div>
