// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.mainpage{
  
  width:600px;
  margin:0px auto;
  padding-top:100px;
  
  h1{
    font-family: 'Bangers', cursive;
    text-align:center;
    font-size: 72px;
    text-shadow: 1px 0px 0px #fff;
  }
  
  p{
    text-align:center;
    font-style:italic;
  }
  
  div.twitter{
    padding-top:36px;
    width:420px;
    margin:0px auto;

    a:hover{
      background:none;
    }

  }
  

  
}



